<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="salesforce-logo" aria-label="Salesforce logo"></div>
      <mat-card-title>Salesforce Canvas App + Angular 11</mat-card-title>
      <mat-card-subtitle>Using signed request flow</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Here you can see the Salesforce Canvas Signed request data:
      </p>
      <app-display-data></app-display-data>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
