.salesforce-logo {
    background-image: url(../../assets/salesforce-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0%;
    height: 4rem;
    width: 4rem;
}